.about-heading {
  color: #343a40;
  margin-bottom: 0em;
}

.about-heading > span {
  color: #bd5d38;
}

.about-subheading {
  color: #868e96;
  margin-bottom: 3em;
}

.about-subheading > a {
  color: #00bfb3;
}

.about-body {
  color: #343a40;
  font-weight: bold;
}
