.education-heading {
  color: #343a40;
  margin-top: 1em;
  margin-bottom: 1em;
}

.education-date {
  color: #bd5d38;
  font-weight: bold;
}

.education-degree {
  color: #868e96;
  margin-bottom: 3em;
}
